.film-info {
    font-size: 1.2rem;

&__badge {
    font-size: 0.8em;
}

&__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #dddddd;
    background-color: #f1f1f1;
    // padding: 19px;
}
&__wrapper {
    &:not(:last-child) {
        margin-right: $gap;
    }
        }
}
